<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>연습중입니더</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .logout-btn {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    </style>
</head>
<body>
    <button class="btn btn-danger logout-btn" th:onclick="|window.location.href='@{/logout}'|">로그아웃</button>

    <table class="table" id="dataTable">
        <thead>
        <tr>
            <th scope="col">title</th>
            <th scope="col">name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${list}">
            <td class="clickable" th:data-slipno="${item.title}" th:data-acdate="${item.title}"
                th:text="${item.title}">title</td>
            <td class="clickable" th:data-slipno="${item.name}" th:data-acdate="${item.name}"
                th:text="${item.name}">name</td>
        </tr>
        </tbody>
    </table>
</body>
</html>
