<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>연습중입니더</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
          crossorigin="anonymous">
</head>
<body>
<table class="table" id="dataTable">
    <thead>
    <tr>
        <th scope="col">title</th>
        <th scope="col">name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${list}">
        <td class="clickable" th:data-slipno="${item.title}" th:data-acdate="${item.title}"
            th:text="${item.title}">title</td>
        <td class="clickable" th:data-slipno="${item.name}" th:data-acdate="${item.name}"
            th:text="${item.name}">name</td>
    </tr>
    </tbody>
</table>



</body>
</html>
